<form action="{% url 'reservation:result' doctor.id %}" method="post">
{%csrf_token%}
<fieldset>
    <legend><h1>{{ doctor.doctor_name }}</h1></legend>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    {% for schedule in doctor.schedule_set.all %}
        <input type="radio" name="appointment" id="schedule{{ forloop.counter }}" value="{{ schedule.date }}">
        <label >{{schedule.date}}</label>
        
        <br>
    {% endfor %}
    <label>Patient's Name:</label>
    <input type='text' name='name'>
    <br>
    <label>Phone Number:</label>
    <input type='text' name='phone'>
</fieldset>

<input type="submit" value="Reserve">
</form>